# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env

# Webpack and distribution directories
.webpack
dist

# Other
.DS_Store

# Sensitive data
src/components/auth/userPool.ts
